<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
		<p>This is the info page: here's some information about me!</p>
        <br>
        <h2>My name is Bollo, and I am <h1>FUNKY!</h1><h2>
	</body>
</html>